<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{ css 'css/style' }}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="mask-icon" href="/favicon.svg" color="#12CC3E">
    <meta name="robots" content="noindex">
    <meta name="description" content="Electronic equipment serviceing repairs and callouts" />
    <meta name="keywords" content="Electronic,Engineering,Skull house lane,Appley Bridge,North West,UK" />
    <meta name="author" content="Jack Bennett jackben.net" />
    <meta name="resource-type" content="document" />
    <meta name="google-site-verification" content="QRKXgKi_rbH3z6-KKVnTCibroDqZr_U5MeLZm-tZ5Bs" />

    <title>Eltron Electronic Service</title>
</head>
