<div id="header">
    <span id="title">ELTRON
        <br/>
        <small>Electronic Service</small>
    </span>
    <a href="/">
        <img id="banner" src="/img/2021_logo_opt.svg" alt="Eltron Electronic Service" />
    </a>
</div>
