<ul id="nav">
    {{#each theme.menu as |route name|}}
    <li>
        <a class={{name}} href="{{  url_for route }}">{{titlecase name}}</a>
        <span class="{{name}}">&nbsp;</span>
    </li>
    {{/each}}
</ul>