html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 1em/140% Delicious, arial;
  background: #60a6a2;
}

/* current page highlighting */

body.about #nav a.about,
body.repairs #nav a.repairs,
body.industrial #nav a.industrial,
body.marine #nav a.marine,
body.items #nav a.items,
body.contact #nav a.contact,
#nav a:hover {
  background: #000;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#nav span {
  width: 2.15em;
  height: 1em;
  display: none;
  position: absolute;
  top: 30%;
  right: -2.79em;
}

/* menu - content connecting dash */

body.about #nav span.about,
body.repairs #nav span.repairs,
body.industrial #nav span.industrial,
body.marine #nav span.marine,
body.items #nav span.items,
body.contact #nav span.contact {
  display: block;
}

/* Main nav+content+span color */

#header,
#nav-wrap,
#nav span,
#content {
  background: url("/img/white-fade-trans-bg.png") repeat 0 0 transparent;
  border: 0px solid #fff;
}

#nav span {
  border-right: 0;
  border-left: 0;
  background-position: 0 -32px;
}

.bar {
  background: #3c837f;
}

.horizontal {
  width: 100%;
  height: 100px;
  top: 51px;
  position: absolute;
  z-index: -1;
  background: #53b0ab;
  background: -moz-linear-gradient(left, #53b0ab 31%, #3c837f 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(31%, #53b0ab),
    color-stop(100%, #3c837f)
  );
  background: -webkit-linear-gradient(left, #53b0ab 31%, #3c837f 100%);
  background: -o-linear-gradient(left, #53b0ab 31%, #3c837f 100%);
  background: -ms-linear-gradient(left, #53b0ab 31%, #3c837f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#53b0ab",
      endColorstr="#3c837f",
      GradientType=1
    );
  background: linear-gradient(left, #53b0ab 31%, #3c837f 100%);
}

.vertical {
  width: 94px;
  min-height: 100%;
  margin: 0 26px;
  position: fixed;
  z-index: -1;
  top: 0;
  background: #53b0ab;
  background: -moz-linear-gradient(top, #53b0ab 31%, #3c837f 79%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(31%, #53b0ab),
    color-stop(79%, #3c837f)
  );
  background: -webkit-linear-gradient(top, #53b0ab 31%, #3c837f 79%);
  background: -o-linear-gradient(top, #53b0ab 31%, #3c837f 79%);
  background: -ms-linear-gradient(top, #53b0ab 31%, #3c837f 79%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#53b0ab",
      endColorstr="#3c837f",
      GradientType=0
    );
  background: linear-gradient(top, #53b0ab 31%, #3c837f 79%);
}

#header {
  width: 480px;
  margin: 30px 30%;
  padding: 20px;
  overflow: hidden;
}

#header span {
  padding: 1em 0;
}

#header img {
  border: 0;
}

#banner {
  width: 480px;
  height: 149px;
}

#title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 33px;
  display: none;
}

#title small {
  letter-spacing: 0px;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

#nav-wrap {
  width: 126px;
  margin-bottom: -40px;
  padding: 20px 10px;
  float: left;
  position: relative;
}

#nav {
  margin: 0 0 -40px 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

#nav li {
  margin: 0 0 40px 0;
  position: relative;
}

#nav a {
  color: #002133;
  margin: 0 10px;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-size: 22px;
}

#wrap {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#content {
  min-height: 310px;
  /*min-height need to match the IE height fix in index.php*/
  margin-left: 180px;
  padding: 10px 25px;
}

.col-left {
  width: 325px;
  margin: 10px 10px 10px 0;
  float: left;
}

.col-right {
  width: 325px;
  margin: 10px 0 10px 10px;
  float: right;
}

#content ul {
  overflow: hidden;
  padding-left: 1.3em;
}

.block {
  margin: 0 20px;
  overflow: hidden;
}

.item {
  overflow: hidden;
}

.item span {
  margin-left: 10px;
  padding: 3px;
  float: right;
  clear: right;
  background: #e6f2f1;
}

.item img.item_preview {
  width: 180px;
  height: 160px;
  margin: 0 10px;
  float: left;
  border: 10px solid #60a6a2;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.form {
  width: 325px;
  margin: 20px 0 0;
  float: left;
  margin-right: 20px;
}

.form form > ul {
  margin: 0;
  padding: 0 !important;
  list-style: none;
}

.form input[type="text"],
.form input[type="text/email"],
.form textarea {
  width: 325px;
  padding: 5px;
  border: 0;
  background: #fcfcfc;
}

.form input[type="submit"] {
  padding: 5px 20px;
  border: 1px solid #999;
  background: #bada55;
}

#footer {
  margin: 22px 0 0;
  padding: 5px 0 5px 22.5%;
  color: #000;
}

#footer a {
  color: #a4d5d3;
}

#footer a:hover {
  color: #d0e4e3;
}

#footer p {
  margin-left: 180px;
  padding: 10px 25px;
}

#content img {
  max-width: 670px;
  border: 10px solid #999;
}

img.full {
  width: 670px;
  margin: 30px 0 !important;
}

img.left {
  width: 325px;
  float: left;
  margin-left: 0 !important;
}

img.right {
  width: 325px;
  float: right;
  margin-right: 0 !important;
}

.hidden {
  display: none;
}

input[type="submit"] {
  background: #fcfcfc;
  padding: 5px;
}

blockquote.small {
  width: 250px;
  float: right;
}

blockquote {
  margin: 20px 10px;
  padding: 10px;
  text-align: left;
  font-style: italic;
  font-size: 14pt;
  float: left;
  width: 100%;
  border-left: 70px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
}

blockquote::before {
  content: "\201C";
  margin: 35px 10px -50px -75px;
  padding: 0;
  float: left;
  font-size: 120px;
  line-height: 0;
  font-style: normal;
  color: #bdc6c3;
}

ul {
  list-style: circle;
}

li {
  margin: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00cc33;
}

h1 {
  font-size: 3em;
  line-height: 100%;
  margin: 20px 0 0;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
