{{>head shortTitle="default"}}

<body class="{{page.slug}}">
    <div id="wrap">
        <div class="vertical bar"></div>
        {{>header}}
        <div id="nav-wrap">
            {{>navigation}}
        </div>
        <div id="content">
            <h1>{{page.title}}</h1>
            <div class="block">
                {{{ page.content }}}
            </div>
        </div>
    </div>


    <div id="footer" class="bar">
        &nbsp;
    </div>
    <![if gt ie 6]>
    <div>
        <img id="bg" class="bg" src="/img/bg-2.jpg" alt=" " />
    </div>
    <![endif]>
    <div class="horizontal bar"></div>
</body>
